@font-face{
  font-family: 'Alegreya';
  font-weight: normal;
  src: url('https://inventaire.io/public/fonts/Alegreya-Regular.woff');
}

@font-face{
  font-family: 'Alegreya';
  font-weight: bold;
  src: url('https://inventaire.io/public/fonts/Alegreya-Bold.woff');
}

@font-face{
  font-family: 'Alegreya Sans';
  font-weight: normal;
  src: url('https://inventaire.io/public/fonts/AlegreyaSans-Regular.woff');
}

@font-face{
  font-family: 'Alegreya Sans';
  font-weight: bold;
  src: url('https://inventaire.io/public/fonts/AlegreyaSans-Bold.woff');
}
